@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class]
 {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.container {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://art.pixilart.com/84e41d824c52e3e.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cover {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer{
    color: white;
}
a {
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
}
h1,
p,a {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
}
h1 {
  font-size: 80px;
}
@media screen and (max-width:480px){
    h1{
        font-size: 67px;
    }
    p{
        font-size: 25px;
    }
    a{
        font-size: 18px;
    }
}
